<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-white d-inline-block mb-0">Affordable Medicare Plans</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<form class=" container-fluid mt--6 pb-3 form-padding" [formGroup]="affordableMedicareForm">
    <div class=" card-wrapper">
        <div class=" card">
            <div class=" card-body">
                <div class=" row">
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                First Name
                            </label>
                            <div class=" input-group input-group-merge">
                                <input class=" form-control" placeholder="First name" type="text"
                                    formControlName="first_name" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                Last Name
                            </label>
                            <div class=" input-group input-group-merge">
                                <input class=" form-control" placeholder="Last name" type="text"
                                    formControlName="last_name" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                Age
                            </label>
                            <div class=" input-group input-group-merge">
                                <input class=" form-control" placeholder="Your age" type="text"
                                    formControlName="age" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                Phone
                            </label>
                            <div class=" input-group input-group-merge">
                                <input class=" form-control" placeholder="Phone" type="text"
                                    formControlName="phone" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                State
                            </label>
                            <div class=" input-group input-group-merge">
                                <input class=" form-control" placeholder="State" type="text"
                                    formControlName="state" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                Zip Code
                            </label>
                            <div class=" input-group input-group-merge">
                                <input class=" form-control" placeholder="Zip Code" type="text"
                                    formControlName="zipCode" />
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <div class=" form-group">
                            <label class=" form-control-label">
                                Call Time
                            </label>
                            <div class=" input-group input-group-merge">
                                <select class="form-control" aria-invalid="false" formControlName="callTime" name="call">
                                    <option value="Morning">Morning</option>
                                    <option value="Afternoon">Afternoon</option>
                                    <option value="Evening">Evening</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" (click)="addData()">Submit</button>
                </div>
            </div>
        </div>
        
    </div>
</form>