<nav
  id="navbar-main"
  class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark bg-danger"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        class="rounded-circle border border-danger"
        src="assets/img/invoicify-logo.png"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="navbar-collapse navbar-custom-collapse collapse"
      id="collapseBasic"
      [collapse]="isCollapsed"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/dashboard']">
              <img src="assets/img/brand/blue.png" />
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar-collapse"
              aria-controls="navbar-collapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="isCollapsed = !isCollapsed"
            >
              <span></span> <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/dashboard']"
          >
            <span class="nav-link-inner--text">Go to app</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/examples/pricing']"
          >
            <span class="nav-link-inner--text">Pricing</span>
          </a>
        </li>
      </ul>
      <hr class="d-lg-none" />
      <ul *ngIf="showAuth" class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a
            routerLinkActive="active"
            [routerLink]="['/auth/login']"
            class="btn btn-dark btn-icon"
          >
            <span class="nav-link-inner--text">Login</span>
          </a>
          <a
            routerLinkActive="active"
            [routerLink]="['/examples/register']"
            class="btn btn-neutral btn-icon"
          >
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
